.btn-default {
    background-color: #e0e0e0; /* Couleur claire par défaut */
    border: 1px solid #ccc;
    color: #000;
}

.btn-active {
    background-color: #007bff; /* Couleur plus foncée pour le bouton actif */
    border: 1px solid #0056b3;
    color: #fff;
}

.table-header {
    background-color: #d3d3d3;
    padding: 10px;
    font-weight: bold; /* Make header text bold */
}

.table-cell {
    padding: 10px;
}

.project-column, .summary-column {
    background-color: white;
    font-weight: bold; /* Make first and last column text bold */
}

.intermediate-column {
    background-color: #f0f0f0;
}

.total-row {
    background-color: #add8e6; /* Light blue color for the total row */
    border-bottom: 1px solid black;
}

.table-row {
    border-bottom: 1px solid black;
}

.total-cell {
    background-color: #add8e6; /* Light blue color for the total cell */
    font-weight: bold;
}